<!DOCTYPE html>
<html lang="en"><%# TODO: lang %>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" /><!-- Disable horrible auto-skype for contact numbers in IE -->

  <title>{{.Meta.Title}}</title>
  <meta name="author" content="{{.Meta.Author}}" /><!-- Add your author description -->
  <meta name="keywords" content="{{.Meta.Keywords}}" /><!-- Add sites your keywords -->
  <meta name="description" content="{{.Meta.Description}}" /><!-- Add your site description -->
  <meta name="application-name" content="{{.Meta.ApplicationName}}"/>
  <meta property="og:url" content="{{.Meta.Url}}">
  <meta property="og:type" content="{{.Meta.Type}}">
  <meta property="og:title" content="{{.Meta.Title}}">
  <meta property="og:description" content="{{.Meta.Description}}">
  <meta property="og:image" content="{{.Meta.Image}}">
  <meta property="og:site_name" content="{{.Meta.SiteName}}">
  <meta property="og:locale" content="{{.Meta.Locale}}">
  <meta property="fb:app_id" content="{{.Meta.FBAppId}}">
  <meta name="twitter:card" content="{{.Meta.TWCard}}">
  <meta name="twitter:domain" content="{{.Meta.TWDomain}}">
  <meta name="twitter:site" content="{{.Meta.TWSite}}">
  <meta name="twitter:image:src" content="{{.Meta.TWImage}}">

  <link rel="apple-touch-icon" sizes="57x57" href="/static/img/siteicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/static/img/siteicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/img/siteicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/img/siteicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/img/siteicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/img/siteicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/img/siteicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/img/siteicon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/img/siteicon/apple-touch-icon-180x180.png">
  <link rel="shortcut icon" type="image/png" href="/static/img/siteicon/favicon-32x32.png" />
  <link rel="icon" type="image/png" href="/static/img/siteicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/static/img/siteicon/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/static/img/siteicon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/static/img/siteicon/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/static/img/siteicon/manifest.json">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="/static/img/siteicon/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

  <!-- Load our fonts form Google -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=PT+Serif:700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Domine' rel='stylesheet' type='text/css'>

  <!-- Load our fonts individually if IE8+, to avoid faux bold & italic rendering -->
  <!--[if IE]>
  <link href='http://fonts.googleapis.com/css?family=PT+Serif:700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Vollkorn:400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Vollkorn:700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Domine' rel='stylesheet' type='text/css'>
  <![endif]-->

  <!-- Load our stylesheet for IE8 -->
  <!--[if IE 8]>
  <link rel="stylesheet" type="text/css" href="/static/css/ie8.css" />
  <![endif]-->

  <!-- Load our stylesheet for IE9 -->
  <!--[if IE 9]>
  <link rel="stylesheet" type="text/css" href="/static/css/ie9.css" />
  <![endif]-->

  <!-- Load these in the <head> for quicker IE8+ load times -->
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="/static/js/html5shiv.min.js"></script>
  <script src="/static/js/respond.min.js"></script>
  <![endif]-->

</head>
<body id="home">

  <%= render "_header.html", assigns %>

  <section style='overflow: initial; position: initial;'>
    <div id="wrap">
      <%= render @view_module, @view_template, assigns %>
    </div>
  </section>

  <%= render "_footer.html", assigns %>

  <script src="/static/bower/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
  <!--script src="js/bootstrap.min.js"></script --><!-- Bootstrap core - always load first -->
  <script src="/static/js/pkgs/mosaic/spoiler.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/static/js/pkgs/mosaic/main.js" type="text/javascript" charset="utf-8"></script>

  {{range .HeadScripts}}
    <script src="{{.}}"></script>
  {{end}}

  <script>/* $(function() { $('img').hide(); }); */</script>

  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</body>
</html>
