<style>.tooltip-inner { font-size: 13px; }</style>
<script>$(function() {$("[data-toggle=tooltip]").tooltip();});</script>

<div class="container">
  <div class="row">

    <%= render Exantenna.Admin.LayoutView, "_sidenavi.html", conn: @conn %>

    <div class="col-sm-9 col-md-9">
      <%= render Exantenna.Admin.LayoutView, "_blogs_inner.html", conn: @conn, user: @user %>
    </div>

  </div>
</div>
