.show-panel.panel-default>.panel-heading {
  color: #333 !important;
  background-color: #f5f5f5 !important;
  border-color: #ddd !important;
  border-bottom: none !important;
  border: solid 1px;
}
.show-panel.panel-heading {
  padding: 0px 15px !important;
  /* border-bottom: 0px solid transparent !important; */
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
  font-weight: bold;
}

.show-panel.panel-default {
  border-color: #ddd !important;
}
.show-panel.panel {
  margin-bottom: 20px !important;
  background-color: #fff !important;
  border: 1px solid transparent !important;
  border-radius: 4px !important;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05) !important;
  box-shadow: 0 1px 1px rgba(0,0,0,.05) !important;
}
.show-panel.panel-body {
  padding: 15px !important;
}

.show-panel.panel .list-group-item {
  position: relative !important;
  display: block !important;
  padding: 0px 15px !important;
  margin-bottom: -1px !important;
  background-color: #fff !important;
  border: 1px solid #ddd !important;
}

.show-panel.tooltip-inner { font-size: 12px; padding: 5px; }
.show-panel.list-group-item { padding: 10px 15px; }
