@charset "utf-8";
/*
 * Columbia Theme
 * Custom Theme Styles
 * File: css/custom.css
 *
 */

/* Begin custom styles */

.cursor {
    cursor: pointer;
}

.main-color-white {
    color: #000;
    background-color: #f4f4f4;
}

.white-theme.modal-header div.modallogo, .white-theme.modal-header div.modallogo span, .white-theme.modal-header div.modallogo a {
    color: #3F3F3F;
    background-color: #F7F6F6;
}

.c848484 { color: #848484 !important; }
.F26F70 { color: #F26F70 !important; }
.active.ac1 a { background-color: #F26F70 !important; }

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    -o-filter: blur(5px);
    filter: blur(5px);
}

.pointer {
    cursor: pointer;
}

.badge-mini.badge {
    padding: 2px 3px 3px 0px;
    font-size: 11px;
    line-height: 0.7;
    border-radius: 4px;
    vertical-align: middle;
}

button.social div {
    font-size: 24px;
    color: #C0C0C0;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    top: 4px
}

.modal.above-elem {
    z-index: 1000000000;
}

.favicon {
    max-height: 16px;
}

p, p a {
    line-height: 20px;
}

[class^="icon-"], [class*=" icon-"] {
    vertical-align: middle;
}

@media screen and (min-width:770px) {
    div.break [class^="icon-"], [class*=" icon-"] {
        font-size: 40px;
    }
    span.icon-search:after {
        content: "\ASearch";
        white-space: pre;
        color: #C0C0C0;
        font-size: 18px;
        vertical-align: top;
    }
}

.modaltagline h1 {
    color: #999;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

button.social.second-elem {
    bottom: 81px !important;
    right: 60px !important;
    background-color: #222222;
}

button.social.second-elem:hover {
    background-color: #454545 !important;
}

button.social.second-elem.main-color-white {
    bottom: 81px !important;
    right: 60px !important;
    background-color: #f4f4f4 !important;
}

button.social.second-elem.main-color-white:hover {
    background-color: #e4e4e4 !important;
}

button.social.main-color-white span.icon-search:after {
    color: #434343;
}

button.social.main-color-white span {
    color: #434343;
}

.font-mincho {
    opacity: 1 !important;
    text-decoration: none !important;
}

.title-bar-font {
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 0;
    line-height: 50px;
    margin-bottom: 0;
    color: #A0A0A0;
    margin-right: 10px;
}

.h2-font:hover { color: #eee; }

hr.mini {
    margin-top: 10px;
    margin-bottom: 15px;
    border: 0;
    width: 20px;
    margin-left: 0;
    margin-right: auto;
    border-top: 3px solid #F26F70;
}

#portfolio-item {
    background-color: #494949;
}

.img-center {
    margin-left: auto;
    margin-right: auto;
}

.show-img-mobile {
    height: auto !important;
    padding-left: 0 !important;
    padding-right: 0px !important;
}

.lowercase {
    text-transform: lowercase;
}

.whity { color: #FFF; }
.bold { font-weight: bold; }
.nowrap { white-space: nowrap; }

.white-orange, .white-orange * {
    color: #FFF !important;
}

.white-orange:hover, .white-orange:hover * {
    color: #ED6D58 !important;
}

@media screen and (min-width:0px) {
    p, p a { font-size: 12px; }
    .title-bar-font { font-size: 12px; }
    .h2-font { font-size: 15px; color: #fff; }
    hr.mini-hack { margin-bottom: 0px;}
    .media-font { font-size: 13px }
    .media-font * { font-size: 13px }
    .media-small-font { font-size: 12px }
    .show-remove-mobile { display: none; }
    .show-remove-pc { display: block; }
    .text-padding { padding-top: 10px; padding-bottom: 40px; }
    .pull-right.pd-right { right: 0px; }
}

@media screen and (min-width:460px) {
    p, p a { font-size: 14px; }
    .title-bar-font { font-size: 14px; }
    .h2-font { font-size: 20px; color: #fff; }
    hr.mini-hack { margin-bottom: 7px;}
    .media-font { font-size: 17px }
    .media-font * { font-size: 17px }
    .media-small-font { font-size: 14px }
}

@media screen and (min-width:660px) {
    p, p a { font-size: 16px; }
    .h2-font { font-size: 30px; color: #fff; }
}

@media screen and (min-width:770px) {
    .h2-font { font-size: 15px; color: #fff; }
    hr.mini-hack { margin-bottom: 0px;}
    .media-font { font-size: 13px }
    .media-font * { font-size: 13px }
    .media-small-font { font-size: 12px }
    .show-remove-mobile { display: block; }
    .show-remove-pc { display: none; }
    .pull-right.pd-right { right: 15px; }
}

@media screen and (min-width:870px) {
    .h2-font { font-size: 18px; color: #fff; }
    hr.mini-hack { margin-bottom: 5px;}
    .media-font { font-size: 15px }
    .media-font * { font-size: 15px }
    .media-small-font { font-size: 13px }
}

@media screen and (min-width:1000px) {
    .h2-font { font-size: 22px; color: #fff; }
    hr.mini-hack { margin-bottom: 7px;}
    .media-font { font-size: 17px }
    .media-font * { font-size: 17px }
    .media-small-font { font-size: 14px }
    .text-padding { padding: 2px 15px 0px 10px; padding-bottom: 40px; }
}

@media screen and (min-width:1280px) {
    .h2-font { font-size: 25px; color: #fff; }
}

@media screen and (min-width:1700px) {
    .h2-font { font-size: 30px; color: #fff; }
}


.panel { position: relative; }

.panel * { font: 16px/22px Arial, sans-serif; }

.panel-default > .panel-leftheading
{
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-primary > .panel-leftheading
{
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}

.panel-success > .panel-leftheading
{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.panel-info > .panel-leftheading
{
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.panel-warning > .panel-leftheading
{
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.panel-danger > .panel-leftheading
{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.panel-leftheading
{
    width: 42px;
    padding: 10px 15px;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    float: left;
    height: 100%;
    position: absolute;
}

.panel-lefttitle
{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    font-size: 16px;
    color: inherit;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(90deg);
    -o-transform-origin: left top;
    transform: rotate(90deg);
    transform-origin: left top;
    position: absolute;
    white-space: nowrap;
}

.panel-rightbody
{
    float: left;
    margin-left: 45px;
    padding: 15px;
}

.img-fallback {
    text-align: center;
    padding: 45px 0 66px 0;
    margin: 5px;
    opacity: 1;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    -khtml-opacity: .9;
    -moz-opacity: .9;
    opacity: .9;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
    width: 97%;
    height: 91%;
    position: absolute;
    top: 0;
    z-index: 2;
    left: 0;
}
.img-fallback > .plus {
    color: white;
    text-shadow: 3px 3px 0px #020202, 4px 4px 0px #17355E;
    font-size: 20px;
}

.modaltagline.pull-right {
    margin-right: 30px;
}

.btn-orange {
    border-color: #F26F70;
    background-color: #F26F70;
}

.btn-green {
    border-color: #6F9DF2;
    background-color: #6ED292;
}

.btn-blue {
    border-color: #C0CB1D;
    background-color: #4A7BC7;
}

.font-fallback {
    color: white;
    text-shadow: 3px 3px 0px #020202, 4px 4px 0px #17355E;
}

@media screen and (min-width:0px) and (max-width:770px) {
    #wrap {
        margin-top: 65px;
    }
}

@media screen and (min-width:770px) {}

.txt-shadow {
    text-shadow: 0 1px 2px rgba(0, 0, 0, .9);
}

.lowercase{
    text-transform: lowercase;
}

.video-style .summary-cover div.caption {
    background: rgba(244, 244, 244, 0.80);
    border-top: 1px solid #F7F7F7;
}

.video-style .summary-cover div.caption h3 {
    color: #323232;
}

.video-style .summary-cover div.caption span.video-date {
    color: #4078C2;
}

.video-style .summary-cover div.caption span.video-pv {
    color: #373737;
}

.video-style.list-styles .list-group-item:first-child {
    border-top: 1px solid #ddd;
}
.video-style.list-styles .list-group-item span {
    color: #686B61;
}

.video-style.list-styles.list-summary .list-group-item span {
    color: #1B1B1B;
}
.video-style.list-styles.list-summary .list-group-item {
    background-color: transparent;
    border: none;
    border-top: 1px solid #B0B0B0;
}

.black-style.list-styles ul li {
    color: white;
    background-color: transparent;
    border: none;
    border-top: 1px solid #6E6E6E;
}

.list-styles .summary-cover h3 {
    margin-bottom: 10px;
}

.summary-cover {
    position: relative;
}

.summary-cover div.caption {
    width: 98%;
    position: absolute;
    bottom: 0;
    z-index: 50;
    background: url('/static/img/listcover.png');
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0px 1px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0px 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0px 1px 2px rgba(0, 0, 0, 0.5);
    border-top: 1px solid #202020;
}

.summary-cover div.caption h3 {
    color: #FFFFFF;
}

.summary-cover div.caption span.video-date {
    color: #4078C2;
}

.summary-cover div.caption span.video-pv {
    color: #CCC;
}

.summary-cover {
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}

.summary-cover .list-group-item a {
    color: #FFF;
}

.summary-cover .list-group-item a:hover {
    color: #E8EA8F;
}

.news-entries {
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}

.news-entries a:hover.list-group-item {
    color: #946363;
}

.img-prev-next {
    border-radius: 3px;
    border: solid 1px #E2E2E2;
    background-color: #f1f1f1;
    margin-bottom: 0;
}

.img-prev-next a.label {
    border-radius: 30px;
}

.label-black {
    background-color: #898888;
    border: 1px solid #C3C3C3;
}
a.label-black:hover {
    color: #434a54;
    background-color: white;
    border: 1px solid #aab2bd;
}

.footer-position-mobile {
    position: fixed;
    color: #fff;
    margin: 0;
    background: rgba(51, 51, 51, 0.83);
    text-align: center;
    box-shadow: 0 0 15px #fff;
    z-index: 100;
    width: 75px;
    height: 55px;
    font-size: 20px;
    line-height: 58px;
}

.footer-prev-mobile {
    bottom: 0;
    left: 0;
    border-top-right-radius: 7px;
}

.footer-next-mobile {
    bottom: 0;
    right: 0;
    border-top-left-radius: 7px;
}

.footer-position-mobile a {
    color: #FFF;
    font-size: 20px;
}

.black {
    background-color: #1b1b1b;
}

.show-dic.rel-show-dic {
    position: absolute;
    right: 3px;
    bottom: 0;
}

.show-dic {}

.show-dic img {
    margin-top: -3px;
    width: 27px;
    display: inline;
}

.p-rel {
    position: relative;
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
    width: 100% !important;
    height: 100% !important;
}

.s-carousel-control {
    width: 4%;
    color: #020202;
    background-color: #B8B0B0 !important;
}

.profile-title-line {
    background-color: #e6e9ed;
    margin: 0px 0px 14px 0px;
}

.profile-title-line .title-bar-font {
    line-height: 30px;
}

.menu-title-line {
    padding-left: 15px;
    background-color: #e6e9ed;
}

.pinbox {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
}

.pinbox li a {
    padding: 5px 15px;
    color: #444;
}

.pinbox li {
    border-bottom: 1px solid #ddd;
    border-radius: 0;
}

.pinbox li.multiline {
	display: inline-block;
    text-align: center;
    width: 45px;
}

.pinbox * { font: 12px/18px Arial, sans-serif; }

.pinbox p {
    color: #333;
    margin: 0;
    padding-bottom: 7px;
}

.profile-view {
    position: relative;
}

.profile-view .view-inline {
    display: inline-block;
    min-width: 100%;
}

.view-inline h2 {
    margin-top: 0;
}

.view-inline .pin-highlight {
    min-height: 1200px;
}
