
.footer-nav a {
    color: #C0C0C0;
}

.footer-logo, .footer-nav {
    float: left;
    width: 33%;
    padding: 0 30px;
}

.footer-nav-inner {
    margin-left: auto;
    margin-right: auto;
    width: 5em;
}

.footer-nav-inner dl,
.footer-nav-inner dt,
.footer-nav-inner dd {
    white-space: nowrap;
}

@media (min-width: 1200px){
    .container {
       width: 1000px;
       padding-left: 0;
       padding-right: 0;
    }
}

@media (max-width: 768px) {
    .footer-logo, .footer-nav {
        display: block;
        float: none;
        width: 100%;
    }
}
