/* body { */
	/* background: url(http://subtlepatterns.com/patterns/scribble_light.png) ; */
/* } */

.pin {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;

	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.pin img {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

div.unpin {
    width: 280px;
}

img.unpin {
    object-fit: cover;
    width: 280px;
    height: 280px;
    /* padding-bottom: 0 !important; */
    /* background-color: #ccc; */
    /* border: 1px solid #ccc; */
}

.pin * { font: 12px/18px Arial, sans-serif; }

.pin p {
    color: #333;
    margin: 0;
    padding-bottom: 7px;
}

.pin a.list-group-item {
    padding: 5px 0px;
    color: #636363;
}

.pin a.pin-tag {
    color: #a2a2a2;
    padding: 5px 0px;
    font-weight: bold;
    white-space: nowrap;
}

.pin-columns:hover .pin:not(:hover) {
    opacity: 0.85;
}

.pin-columns {
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -moz-column-fill: balance;  /* -moz-column-fill: auto; */
    column-count: 2;
    column-gap: 15px;
    column-fill: auto;
}

@media (min-width: 0px) {
    img.pin-deftall {
        min-height: 150px;
    }
    img.deftall {
        min-height: 150px;
    }
}

@media (min-width: 760px) {
    img.pin-deftall {
        min-height: 175px;
    }
    img.deftall {
        min-height: 175px;
    }
	.column-count3 {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
	.column-count4 {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
	.column-count5 {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}

}

@media (min-width: 960px) {
    img.pin-deftall {
        min-height: 200px;
    }
    img.deftall {
        min-height: 200px;
    }
	.column-count4 {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
	.column-count5 {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

@media (min-width: 1100px) {
    img.deftall {
        min-height: 265px;
    }
	.column-count5 {
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}
}
